<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
 
    <add key="API_KEY" value="TEST_API_KEY:c49bd2c4c4685d870a4093ecd11b6e94:87beb139b51d5ea4340ac07da261f9bc"/>
    <add key="APP_ID" value=""/>
    <add key="USER_ID" value=""/>
    <add key="USER_TOKEN" value=""/>
	<add key="ENCRYPTION_KEY" value=""/>
    <add key="CHALLENGE_ID" value=""/>
    <add key="WALLET_ID" value=""/>
     <add key="ADDRESS" value=""/>
    <add key="TOKEN_ID" value=""/>
	  <add key="PATH_CREATE_USER" value="https://api.circle.com/v1/w3s/users"/>
	  <add key="PATH_GET_APIID" value="https://api.circle.com/v1/w3s/config/entity"/>
	  <add key="PATH_USER_TOKEN" value="https://api.circle.com/v1/w3s/users/token"/>
	  <add key="PATH_INITIAL_USER" value="https://api.circle.com/v1/w3s/user/initialize"/>
  </appSettings>
</configuration>


